@CHARSET "UTF-8";

@font-face {
    font-family: 'Joubel';
    src: url('../fonts/joubel.eot?-evicw4');
    src: url('../fonts/joubel.eot?#iefix-evicw4') format('embedded-opentype'), url('../fonts/joubel.woff?-evicw4') format('woff'), url('../fonts/joubel.ttf?-evicw4') format('truetype'), url('../fonts/joubel.svg?-evicw4#tips') format('svg');
    font-weight: normal;
    font-style: normal;
}