/* Font Awesome font licensed under SIL OFL 1.1 · Code licensed under MIT License */
@font-face {
  font-family: 'H5PFontAwesome4'; /* Named so to avoid collisions and preserve backwards compatibility! */
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.h5p-content {
  border: 1px solid #DDD;
  border-radius: 3px;
  padding: 10px;
}

.h5p-admin-table,
.h5p-admin-table > tbody {
  border: none;
}

.h5p-admin-table tr:nth-child(odd) {
  background-color: #F9F9F9;
}
.h5p-admin-table tbody tr:hover {
  background-color: #EEE;
}
.h5p-admin-table.empty {
  padding: 1em;
  background-color: #EEE;
  font-size: 1.2em;
  font-weight: bold;
}

.h5p-admin-table.libraries th:last-child,
.h5p-admin-table.libraries td:last-child {
  text-align: right;
}

.h5p-admin-table.libraries button {
  font-family: H5PFontAwesome4;
  font-size: 1.6em;
  font-style: normal;
  font-weight: normal;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #AAA;
  border-radius: .2em;
  line-height: 1.6em;
  width: 1.6em;
  background-color: #e0e0e0;
  text-shadow: 0 0 0.5em #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.h5p-admin-table.libraries button:hover,
.h5p-admin-table.libraries .h5p-admin-delete-library:hover {
  background-color: #d0d0d0;
}

.h5p-admin-table.libraries .h5p-admin-delete-library:disabled:hover {
  background-color: #e0e0e0;
}

.h5p-admin-table.libraries .h5p-admin-delete-library {
  color: #f9010f; 
}
.h5p-admin-table.libraries .h5p-admin-delete-library:disabled {
  cursor: default;
  color: #c0c0c0;
}

.h5p-library-info {
  padding: 1em 1em;
  margin: 1em 0;
  
  width: 350px;
  
  border: 1px solid #DDD;
  border-radius: 3px;
}

/* Labeled field (label + value) */
.h5p-labeled-field {
  border-bottom: 1px solid #ccc;
}
.h5p-labeled-field:last-child {
  border-bottom: none;
}

.h5p-labeled-field .h5p-label {
  display: inline-block;
  min-width: 150px;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.2em;
}

.h5p-labeled-field .h5p-value {
  display: inline-block;
  padding: 0.2em;
}

/* Search element */
.h5p-content-search {
  display: inline-block;
  position: relative;
  
  width: 100%;
  padding: 5px 0;
  margin-top: 10px;
  
  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #888888; 
}
.h5p-content-search:before {
  font-family: H5PFontAwesome4;
  margin: 0 10px;
  content: "\f002";
  font-size: 1.4em;
}
.h5p-content-search input {
  font-size: 120%;
  line-height: 120%;
}
.h5p-admin-search-results {
  margin-left: 10px;
  color: #888;
}

.h5p-admin-pager-size-selector {
  position: absolute;
  right: 10px;
  top: .75em;
  display: inline-block;
}
.h5p-admin-pager-size-selector > span {
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #CCC;
  border-radius: 3px;
}
.h5p-admin-pager-size-selector > span.selected {
  background-color: #edf5fa;
}
.h5p-admin-pager-size-selector > span:hover {
  background-color: #555;
  color: #FFF;
}

/* Generic "javascript"-action button */
button.h5p-admin {
  border: 1px solid #AAA;
  border-radius: 5px;
  padding: 3px 10px;
  background-color: #EEE;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #222;
}
button.h5p-admin:hover {
  background-color: #555;
  color: #FFF;
}
button.h5p-admin.disabled,
button.h5p-admin.disabled:hover {
  cursor: auto;
  color: #CCC;
  background-color: #FFF;
}

/* Pager element */
.h5p-content-pager {
  display: inline-block;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #888888;
  width: 100%;
  text-align: center;
  padding: 3px 0;
}
.h5p-content-pager > button {
  min-width: 80px;
  font-size: 130%;
  line-height: 130%;
  border: none;
  background: none;
  font-family: H5PFontAwesome4;
  font-size: 1.4em;
}
.h5p-content-pager > button:focus {
  outline: 0;
}
.h5p-content-pager > button:last-child {
  margin-left: 10px;
}
.h5p-content-pager > .pager-info {
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}
.h5p-content-pager > .pager-info:hover {
  background-color: #555;
  color: #FFF;
} 
.h5p-content-pager > .pager-info,
.h5p-content-pager > .h5p-pager-goto {
  margin: 0 10px;
  line-height: 130%;
  display: inline-block;
}

.h5p-admin-header {
  margin-top: 1.5em;
}
#h5p-library-upload-form.h5p-admin-upload-libraries-form {
  position: relative;
  margin: 0;

}
.h5p-admin-upload-libraries-form .form-submit {
  position: absolute;
  top: 0;
  right: 0;
}
