/* Font Awesome font licensed under SIL OFL 1.1 · Code licensed under MIT License */
@font-face {
  font-family: 'H5PFontAwesome4'; /* Named so to avoid collisions and preserve backwards compatibility! */
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'H5P';
  src:url('../fonts/h5p.eot?-r12eb7');
  src:url('../fonts/h5p.eot?#iefix-r12eb7') format('embedded-opentype'),
    url('../fonts/h5p.woff?-r12eb7') format('woff'),
    url('../fonts/h5p.ttf?-r12eb7') format('truetype'),
    url('../fonts/h5p.svg?-r12eb7#h5p_toolbar') format('svg');
  font-weight: normal;
  font-style: normal;
}

html.h5p-iframe, html.h5p-iframe > body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.h5p-semi-fullscreen, .h5p-fullscreen, html.h5p-iframe .h5p-container {
  overflow: hidden;
}
.h5p-content {
  position: relative;
  background: #fefefe;
  border: 1px solid #EEE;
  border-bottom: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html.h5p-iframe .h5p-content {
  font-size: 16px;
  line-height: 1.5em;
  width: 100%;
  height: 100%;
}
.h5p-container {
  position: relative;
  z-index: 1;
}
.h5p-container.h5p-semi-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}

.h5p-content-controls {
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}
.h5p-fullscreen .h5p-content-controls {
  display: none;
}

.h5p-content-controls > a:link, .h5p-content-controls > a:visited, a.h5p-disable-fullscreen:link, a.h5p-disable-fullscreen:visited {
  color: #e5eef6;
}

.h5p-enable-fullscreen:before, .h5p-disable-fullscreen:before {
  font-family: H5PFontAwesome4;
  
  font-size: 25px;
}
.h5p-enable-fullscreen:before {
  content: "\f065";
}
.h5p-disable-fullscreen:before {
  content: "\f066";
}

.h5p-enable-fullscreen, .h5p-disable-fullscreen {
  display: none;
  line-height: 25px;
  width: 25px;
  height: 25px;
  padding: 6px 6px;
  cursor: pointer;
  color: #EEE;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.3);
  text-decoration: none;
  text-align: center;
}
.h5p-disable-fullscreen {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 201;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
}
.h5p-enable-fullscreen:hover, .h5p-disable-fullscreen:hover {
  text-decoration: none;
  background: rgba(0,0,0,0.5);
}

.h5p-semi-fullscreen .h5p-content-controls {
  display: none;
}

div.h5p-fullscreen {
  width: 100%;
  height: 100%;
}
.h5p-iframe-wrapper {
  width: auto;
  height: auto;
}

.h5p-fullscreen .h5p-iframe-wrapper,
.h5p-semi-fullscreen .h5p-iframe-wrapper {
  width: 100%;
  height: 100%;
}

.h5p-iframe-wrapper.h5p-semi-fullscreen {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.h5p-iframe-wrapper.h5p-semi-fullscreen .buttons {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
}
.h5p-iframe-wrapper iframe.h5p-iframe {
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  border: 0;
  display: block;
}
.h5p-iframe-wrapper.h5p-semi-fullscreen .buttons button:before {
  content: 'Exit ';
}
.h5p-iframe-wrapper button.fullscreen {
  color: #e5eef6;
  text-decoration: none;
  padding: 6px 12px;
  background: #539ad7;
  background-image: -webkit-linear-gradient(top,#4584ba,#539ad7);
  background-image: -moz-linear-gradient(top,#4584ba,#539ad7);
  background-image: -o-linear-gradient(top,#4584ba,#539ad7);
  background-image: -ms-linear-gradient(top,#4584ba,#539ad7);
  background-image: linear-gradient(to bottom,#4584ba,#539ad7);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4584ba',endColorstr='#539ad7',GradientType=0);
  box-shadow: 0 0 8px #bebebe;
  border: none;
  opacity: 0.8;
}
.h5p-iframe-wrapper button.fullscreen:hover {
  opacity: 1;
  background: #539ad7;
  background-image: -webkit-linear-gradient(top,#539ad7,#4584ba);
  background-image: -moz-linear-gradient(top,#539ad7,#4584ba);
  background-image: -o-linear-gradient(top,#539ad7,#4584ba);
  background-image: -ms-linear-gradient(top,#539ad7,#4584ba);
  background-image: linear-gradient(to bottom,#539ad7,#4584ba);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#539ad7',endColorstr='#4584ba',GradientType=0);
  cursor: pointer;
}

.h5p-content ul.h5p-actions {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
  list-style: none;
  padding: 0px 10px;
  margin: 0;
  height: 25px;
  font-size: 12px;
  background: #FAFAFA;
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
  clear: both;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.h5p-fullscreen .h5p-actions, .h5p-semi-fullscreen .h5p-actions {
  display: none;
}
.h5p-actions > .h5p-button {
  float: left;
  cursor: pointer;
  margin: 0 1.5em 0 0;
  background: none;
  padding: 0;
  vertical-align: top;
  color: #999;
  text-decoration: none;
  outline: none;
}
.h5p-actions > .h5p-button:hover {
  color: #666;
}
.h5p-actions > .h5p-button:before {
  font-family: H5PFontAwesome4;
  font-size: 1em;
  padding-right: 0.3em;
}
.h5p-actions > .h5p-button.h5p-export:before {
  content: "\f019";
}
.h5p-actions > .h5p-button.h5p-copyrights:before {
  font-family: H5P;
  content: "\e668";
  font-size: 1.7em;
  padding-right: 0;
  vertical-align: bottom;
}
.h5p-actions > .h5p-button.h5p-embed:before {
  content: "\f121";
}
.h5p-actions .h5p-link {
  float: right;
  margin-right: 0;
  font-size: 2.0em;
  overflow: hidden;
  color: #999;
  text-decoration: none;
  outline: none;
}
.h5p-actions .h5p-link:before {
  font-family: H5P;
  content: "\e667";
}
.h5p-popup-dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
/*  background: rgba(50,50,50,0.5);*/
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.h5p-popup-dialog.h5p-open {
  opacity: 1;
}
.h5p-popup-dialog .h5p-inner {
  box-sizing: border-box;
  box-shadow: 0 0 2em #000;
  background: #fff;
  height: 90%;
  max-height: 100%;
  padding: 0.75em;
  position: relative;
}
.h5p-popup-dialog .h5p-inner > h2 {
  font-size: 1.5em;
  margin: 0.25em 0;
  position: absolute;
}
.h5p-embed-dialog .h5p-inner {
  width: 50%;
  left: 25%;
  top: 25%;
  height: auto;
}
.h5p-embed-dialog .h5p-embed-code-container {
  width: 90%;
  padding: .3em;
  min-height: 10em;
  resize: none;
  outline: none;
}
.h5p-popup-dialog .h5p-scroll-content {
  border-top: 2.75em solid transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.h5p-popup-dialog .h5p-scroll-content::-webkit-scrollbar {
  width: 8px;
}
.h5p-popup-dialog .h5p-scroll-content::-webkit-scrollbar-track {
  background: #e0e0e0;
} 
.h5p-popup-dialog .h5p-scroll-content::-webkit-scrollbar-thumb {
  box-shadow: 0 0 10px #000 inset;
  border-radius: 4px;
}
.h5p-popup-dialog .h5p-close {
  cursor: pointer;
  outline:none
}
.h5p-popup-dialog .h5p-close:after {
  font-family: H5PFontAwesome4;
  content: "\f00d";
  font-size: 2em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  transition: transform 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.h5p-popup-dialog .h5p-close:hover:after {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.h5p-poopup-dialog h2 {
  margin: 0.25em 0 0.5em;
}
.h5p-popup-dialog h3 {
  margin: 0.75em 0 0.25em;
}
.h5p-popup-dialog dl {
  margin: 0.25em 0 0.75em;
}
.h5p-popup-dialog dt {
  float: left;
  margin: 0 0.75em 0 0;
}
.h5p-popup-dialog dt:after {
  content: ':';
}
.h5p-popup-dialog dd {
  margin: 0;
}
.h5p-content-copyrights {
  border-left: 0.25em solid #d0d0d0;
  margin-left: 0.25em;
  padding-left: 0.25em;
}
