@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/opacity";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";

$fa: H5PFontAwesome4;
$i: H5P;

.h5peditor {
  font-size: 16px;

  .h5p-more-libraries {
    font-size: 0.875em;
  }

  .field {
    margin: 16px 0;
    padding: 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    
    &.boolean .h5peditor-label {
      display: inline;
    }
    &.video, &.image, &.file, &.audio {
      position: relative;
    }
    
    .library {
      border: 1px solid #666;
      padding: 8px;
    }
  }
  
  .errors p {
    margin: 0 0 4px 0;
    color: #f00;
  }
  textarea {
    resize: vertical;
  }
  textarea, .h5peditor-text, .ckeditor {
    width: 90%;
    padding: 4px 8px;
    font-size: 16px;
    border: 1px solid #a0a0a0;
    background: #f9f9f9;
    outline: none;
    min-height: 20px;
    @include border-radius(3px);
  }
  select {
    padding: 2px;
  }
  a:focus {
    outline: none;
  }
  textarea:focus, 
  .h5peditor-text:focus {
    outline: none;
    background-color: #fff;
    border-color: #53a0ff;
  }
  iframe {
    width: 100%;
    height: 0;
    border: 0;
    overflow: hidden;
    &.cke_wysiwyg_frame {
      overflow: auto;
    }
  }
  .h5p-ul {
    padding: 0;
    margin: 0;
    list-style: none;

    .h5p-li {
      padding: 0 8px;
      margin: 8px 0;
      list-style: none;
      background: #fff;
      border: 1px solid #ccc;

      & > .content {
        margin: 0 24px;
      }
      & > .remove, & > .order {
        cursor: pointer;
        width: 14px;
        height: 14px;
        margin: 13px 3px 0 1px;
        float: right;

        &:hover {
          opacity: 1;
          text-decoration: none;
        }
      }
      
      & > .remove:after {
          font-family: $fa;
          content: "\f057";
          color: #666;
          
          
        }
        
      & > .remove:hover:after {
          color: #c33f62;
        }
      
      & > .order {
        float: left;
          
        &:after {
          font-family: $fa;
          content: "\f0dc";
          color: #666;
          
        }
        
        &:hover:after {
          color: #027AC6;
        }
      }
      &:hover {
        background: #e9edf4;
        text-decoration: none;
      }
    }
  }
  .content > .field {
    margin: 8px 0 20px 0;
  }
  .group {
    margin: 16px 0;
    border: 1px solid #676767;
    background: #d5e9ff;
    @include border-radius(0);

    @include box-shadow(0 0 4px #a7a7a7);

    & > .title {
      padding: 4px 8px;
      overflow: hidden;
      background: #f4f4f4;

      &:first-letter {
        text-transform: uppercase;
      }
      .expand {
        cursor: pointer;
        float: left;
        width: 13px;
        height: 13px;
        margin: 3px 0 0;
        background: inline-image("expand.png") no-repeat;
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }
      .text {
        overflow: hidden;
        padding: 0 8px;
      }
    }
    & > .content {
      display: none;
    }
    .h5p-li {
      background: #fff;
      &:hover {
        background: #e9edf4;
      }
      .group {
        background: #fff;
        .h5p-li {
          background: #fff;
          &:hover {
            background: #e9edf4;
          }
          .group {
            background: #feedff;
          }
        }
        .group {
          background: #feedff;
        }
      }
    }
    .group {
      background: #ebfffa;
    }
  }
  .expanded {
    & > .title {
      border-bottom: 1px solid #676767;

      .expand {
        background-image: inline-image("collapse.png");
      }
    }
    & > .content {
      padding: 4px 8px;
      display: block;
      background: #fff;
      margin: 0;
    }
  }
  input[type="button"] {
    width: auto;
    margin: 0;
    padding: 4px 8px;
  }
  .dimensions input, .coordinates input, .number input {
    width: 75px;
  }
  .number input[type="range"] {
    width: 300px;
    float: left;
    margin: 7px 8px 0 0;
  }
  .h5p-errors {
    clear: both;
  }
  .file {
    position: relative;
    float: left;

    .thumbnail {
      display: inline-block;
      margin: 10px;
      @include box-shadow(0 0 16px 0 #666666);
      border: 1px solid #fff;
      cursor: pointer;
    }
    .add {
      display: block;
      cursor: pointer;
      width: 44px;
      height: 44px;
      background: inline-image("add.png");
    }
    .remove {
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 13px;
      right: 16px;
      cursor: pointer;
    }
    .remove:before {
      font-family: $fa;
      font-size: 1.2em;
      color: #fff;
      content: "\f057";
      @include opacity(0.8);
      @include text-shadow(rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px, rgba(black, 0.4) 0 0 4px);
    }
    .remove:hover {
      text-decoration: none;
    }
    .remove:hover:before {
      @include opacity(1); 
      color: #c33f62;
    }
    img {
      vertical-align: bottom;
    }
  }
  .video .file, .audio .file {
    overflow: hidden;
    .thumbnail, .add {
      float: left;
    }
    .add {
      margin-top: 8px;
    }
    .thumbnail {
      overflow: hidden;
      position: relative;
      cursor: auto;
    }
    .remove {
      top: 2px;
      right: 5px;
    }
    .type {
      padding: 16px 8px 4px;
      background: #000;
      color: #fff;
      font-size: 10px;
    }
    .h5peditor-uploading {
      float: left;
    }
  }
  .libwrap {
    margin-top: 16px;
  }
  input[type="checkbox"] {
    margin: 4px 4px 4px 0;
    vertical-align: bottom;
  }
  .common {
    margin-top: 1em;
    background: #fff;
    padding-bottom: 0.25em;
    min-height: 2em;
    border: 1px solid #ccc;

    & > .h5peditor-label {
      font-size: 1em;
      font-weight: normal;
      padding: 0.5em 1em 0.4em;
      background: #ddd;
    }
    & > .field {
      margin: 1em 0.5em;
    }
  }
  .moving {
    position: absolute;
    z-index: 1;
    @include opacity(0.8);
    -webkit-transform: translateZ(0);
  }

  .h5peditor-uploading, .h5peditor-loading {
    background: inline-image("uploading.gif") no-repeat 10px 7px;
    padding-top: 40px;
    font-size: 14px;
  }
  .h5peditor-loading {
    padding: 0.875em 0 1em 3.25em;
    font-style: italic;
  }
  .h5p-copyright-button {
    float: left;
    display: block;
    clear: both;
    cursor: pointer;
    border: 1px solid #999;
    color: #999;
    font-size: 0.875em;
    padding: 0.1875em 0.5625em 0.1875em 0.5em;
    
    &:before {
      font-family: $i;
      content: "\e668";
      padding-right: 0.25em;
      vertical-align: bottom;
      font-size: 1.5em;
    }
    &:hover {
      color: #555;
      text-decoration: none;
      border-color: #555;
    }
  }
  
  .h5p-editor-dialog {
    position: absolute;
    z-index: 1;
    width: 90%;
    background: #fff;
    padding: 10px 10px 0;
    margin: 5.5em 0 1em;
    visibility: hidden;
    opacity: 0;
    @include box-shadow(0 0 8px #666);
    @include transition(visibility 0s 0.2s, opacity 0.2s, margin-top 0.2s);
    
    &.h5p-open {
      margin-top: 3.5em;
      visibility: visible;
      opacity: 1;
      @include transition(visibility 0s 0s, opacity 0.2s, margin-top 0.2s);
    }
    
    & > .field {
      margin: 0 0 10px;
      border: 0;
      box-shadow: none;
    }
    
    .h5p-close {
      color: #494949;
    
      &:before {
        font-size: 2em;
        right: 13px;
        position: absolute;
        font-family: H5PFontAwesome4;
        content: "\f00d";
        @include transition(scale 0.2s);
      }
      
      &:hover:before {
        @include scale(1.1, 1.1);
      }
    }
  }
}

.h5peditor-field-description {
  font-size: 10px;
  color: #555555;
}

.h5peditor-form {
  position: relative;
  margin: 0.5em 0 1em;
  background: #fff;
  padding: 8px;
  border: 1px solid #ccc;
  max-width: 960px;
}

.h5peditor-label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  padding-top: 4px;
}

#h5peditor-uploader {
  position: absolute;
  width: 1px;
  height: 1px;
  top: -1px;
  border: 0;
}
