body{
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
html {padding: 20px;}

h1, h2, h3, h4, h5, h6, p {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1 { font-size: 20px !important; font-weight:bold; line-height: 32px !important;padding:0 !important;}
h2 {font-size: 16px !important; font-weight: normal !important; line-height: 28px !important;}
h3 {font-size: 15px !important; font-weight:bold; line-height: 27px !important;}
p {font-size: 14px !important; line-height: 22px !important; margin:.25em 0 !important; }

.case-study p{
    font-size: 14px !important;
    line-height: 22px !important;
}

.paragraph {
    font-size: 14px !important;
    margin: 15px 0 15px 0 !important;
}
.case-study ul{
    font-size: 14px !important;
    line-height: 22px !important;
}
.h5p-element{
    width:100% !important;
    height:100% !important;
}
.case-study{
    padding: 0 1%;
    /*height: 65%;*/
}
.case-study .title{
    font-size: 20px !important;
    font-weight: bold;
}
.case-study .sub-title{
}
.case-study-body {
    -webkit-overflow-scrolling : touch;
    overflow-y: auto !important;
    height: 100%;
}
.resource{
    position: relative;
    margin: 5px !important;
    float:left;
    background-color:#ededed;
    /*height: 35%;*/
}
.resource .paragraph{
    float:left;
    width:80%;
    padding:0px 1%;
}
.resource img{
    width:50px;
    height:50px;
    border:1px solid red;
    float:right
}
.resource .image-frame {
    width: 19%;
    height: 100%;
    left: 81%;
    float: right;
    position: absolute;
}

.resource .image{
    width: 100%;
    height: 100%;
    /*max-width: 140px;*/
    /*max-height: 140px;*/
    /*float: right;*/
    background-image: url('lady.jpg');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 100% 85%;
    float: left;

}
