/* IcoMoon font licensed under the GNU General Public License: http://www.gnu.org/licenses/gpl.html */
@font-face {
    font-family: 'icomoon-multichoice';
    src:url('../fonts/icomoon.eot');
    src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {padding: 20px;}

h1, h2, h3, h4, h5, h6, p {
    font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

h1 { font-size: 20px !important; font-weight:bold; line-height: 32px !important;}
h2 {font-size: 16px !important; font-weight:bold; line-height: 28px !important;}
h3 {font-size: 15px !important; font-weight:bold; line-height: 27px !important;}
p {font-size: 85% !important;
    line-height: 145% !important;}
.speech, .question, .thought {font-size: 14px; line-height: 26px; font-weight:bold; }
.thought {font-style:italic}
.speechBubble {
    background: #FFFFFF url(images/heedo.speechBubble.png)  no-repeat left top;
    width: 335px;
    min-height: 40px;
    position: relative;
    padding: 10px 0 0 80px;
}
.thoughtBubble {
    background: #FFFFFF url(images/heedo.thoughtBubble.png) center center;
    width: 335px;
    height: 85px;
    position: relative;
    padding: 10px 0 0 80px;
}
.white {color: #FFF;}
.blue {color: rgb(84,188,235);}
.h5p-multichoice {
    font-family: Arial, sans-serif;
    line-height: 1.5em;
    background: transparent;
    overflow: hidden;
    text-align: center;
}

.h5p-multichoice .h5p-question-image {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.h5p-multichoice .h5p-show-solution-container {
    position: relative;
    top: 0px;
    width: 99%;
    float: left;
    /*background-size: 100% 100%;*/
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #599413;
    background-image: url('doctor.png');
    background-color: #ededed;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 20% 90%;
}

.h5p-multichoice .h5p-show-solution-container .h5p-show-solution {
    display: inline-block;
    font-size: 1em;
    padding: 0.2em 1em;
    border: 0.2em solid #fff;
    border-radius: 0.4em;
    margin: 0 0.5em 1em;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 0.5em #999;
    text-decoration: none;

    background: rgb(100,152,254); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(100,152,254,1) 0%, rgba(4,104,206,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,152,254,1)), color-stop(100%,rgba(4,104,206,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(100,152,254,1) 0%,rgba(4,104,206,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6498fe', endColorstr='#0468ce',GradientType=0 ); /* IE6-9 */
}

.h5p-multichoice .h5p-show-solution-container a.h5p-show-solution:before {
    font-family: H5PFontAwesome;
    content: "\f06e";
    padding-right: 0.5em;
}

.h5p-multichoice .h5p-show-solution-container a.h5p-show-solution.h5p-try-again:before {
    content: "\f01e";
}

.h5p-multichoice .h5p-show-solution-container .h5p-show-solution:hover {
    text-decoration: none;
    box-shadow: 0 0 0.5em #999;

    background: rgb(4,104,206); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(4,104,206,1) 0%, rgba(100,152,254,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,104,206,1)), color-stop(100%,rgba(100,152,254,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(4,104,206,1) 0%,rgba(100,152,254,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0468ce', endColorstr='#6498fe',GradientType=0 ); /* IE6-9 */
}

.h5p-multichoice label {
    text-align: left;
    cursor: pointer;
    display: block;
    padding: 0.25em 0.75em 0.25em 0.1em;
    border-radius: 0.3em;
    border: 0.1em solid #dcdcdc;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    background: -moz-linear-gradient(top,  rgba(237,237,237,0.9) 0%, rgba(237,237,237,0.9) 1%, rgba(223,223,223,0.9) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0.9)), color-stop(1%,rgba(237,237,237,0.9)), color-stop(100%,rgba(223,223,223,0.9))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,0.9) 0%,rgba(237,237,237,0.9) 1%,rgba(223,223,223,0.9) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,0.9) 0%,rgba(237,237,237,0.9) 1%,rgba(223,223,223,0.9) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,0.9) 0%,rgba(237,237,237,0.9) 1%,rgba(223,223,223,0.9) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ededed', endColorstr='#e6dfdfdf',GradientType=0 ); /* IE6-9 */
}
.h5p-multichoice label:hover {
    filter: none;
    border: 0.1em solid #ddcae0;

    background: rgb(238,228,239); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(238,228,239,1) 0%, rgba(231,221,232,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,228,239,1)), color-stop(100%,rgba(231,221,232,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(238,228,239,1) 0%,rgba(231,221,232,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(238,228,239,1) 0%,rgba(231,221,232,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(238,228,239,1) 0%,rgba(231,221,232,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee4ef', endColorstr='#e7dde8',GradientType=0 ); /* IE6-9 */
}

.h5p-multichoice .h5p-selected > label {
    filter: none;
    border: 0.1em solid #cad8e0;
    color: #235e7c;
    font-weight: normal;
    /*background-color: #e3eaee;*/
}

.h5p-multichoice > form,
#center .h5p-multichoice > form { /* #center is just a garland hack */
    padding: 0 0.5em;
    margin: 0;
}

.h5p-multichoice > .h5p-question {
    text-align: left;
    margin: 0 0em 0em;
    /* border-bottom: 0.1em solid #ddd; */
    width: 47%;
    height: 40%;
    float: left;
    background: url('question.jpg');
    background-size: 100% 100%;
}

.h5p-multichoice > .h5p-question > p{
    width: 33%;
    float: right;
    position: absolute;
    min-height: 8%;
    top: 25%;
    left: 15%;
    font-size: 14px !important;
    line-height: 22px !important;
    position: absolute;
    /* float: left; */
    /* left: 50%; */
    color: #000;
    font-weight: normal;
    /* width: 30%; */
    font-size: 55%;
    /* text-align: justify; */
    line-height: 135%;
    /* height: 100%; */
    /* top: 0; */
    /* width: 100%; */
    /* float: left; */
    /* background-size: 100% 100%; */
    /* margin: 0; */
    /* padding: 0; */
    /* font-weight: bold; */
    /* font-size: 1.25em; */
    /* line-height: 2em; */
    /* color: #599413; */
    /* background-image: url('bg.jpg'); */
    background: url('quote1.jpg') no-repeat;
    /* width: 335px; */
    background-size: 15% 40%;
    /* min-height: 40px; */
    /* position: absolute; */
    padding: 2% 0 0 2%;

}

/*.h5p-multichoice > .h5p-question > p:before{*/
/*text-decoration: none;*/
/*font-family: H5PFontAwesome;*/
/*content: "\f10d";*/
/*color: #ededed;*/
/*font-size: 200%;*/
/*}*/
.h5p-multichoice h2 {
    font-size: 1.5em;
    font-weight: normal;
}

.h5p-multichoice .h5p-answers {
    list-style: none;
    margin: 0 0.5em;
    position: relative;
    padding: 0;
    overflow: visible;
    width: 49%;
    float: right;
    height: 48%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 22px !important;
}

.h5p-multichoice .h5p-answer {
    list-style: none;
    margin: 5px 0px 0px 0px;
    padding: 0;
    background: none;
    position: relative;
    width: 50%;
    float:left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 22px !important;
}

.h5p-multichoice .h5p-answer:last-child {
    margin-bottom: 0;
}

.h5p-multichoice .h5p-answer > label {
}
.h5p-multichoice .h5p-input {
    display: block;
    /*    left: -1000px;*/
    position: absolute;
    z-index: -1;
}

.h5p-multichoice .h5p-correct .h5p-radio-or-checkbox {
    color: #39692e;
}

.h5p-multichoice .h5p-correct > label {
    border: 0.1em solid #afcdaa;
    color: #39692e;

    background: rgb(209,226,206); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(209,226,206,1) 0%, rgba(176,207,170,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,226,206,1)), color-stop(100%,rgba(176,207,170,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(209,226,206,1) 0%,rgba(176,207,170,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(209,226,206,1) 0%,rgba(176,207,170,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(209,226,206,1) 0%,rgba(176,207,170,1) 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e2ce', endColorstr='#b0cfaa',GradientType=0 ); /* IE6-9 */
}

.h5p-multichoice .h5p-selected.h5p-correct > label {
    border: 0.1em solid #afcdaa;
    color: #39692e;
    zoom: 1;

    background: #d1e2ce;
}

.h5p-multichoice .h5p-answer > label:before {
    text-decoration: none;
    font-family: H5PFontAwesome;
    position: absolute;
    right: 3.8em;
}

.h5p-multichoice .h5p-wrong > label:before {
    content: "\f00d";
    color: #c33f62;
}

.h5p-multichoice .h5p-correct > label:before {
    content: "\f00c";
    color: #39692e;
}

.h5p-multichoice .h5p-selected.h5p-correct .h5p-radio-or-checkbox {
    color: #39692e;
}


.h5p-multichoice .h5p-wrong > label {
    color: #c33f62;
}

.h5p-multichoice .h5p-selected.h5p-wrong .h5p-span{
    color: #c33f62;
    text-decoration: line-through;
}

.h5p-multichoice .h5p-wrong .h5p-radio-or-checkbox {
    color: #c33f62;
}

.h5p-multichoice .h5p-selected.h5p-wrong > label {
    border: 0.1em solid #ce9b9b;
    zoom: 1;

    background: #e6ced1;
}

.h5p-multichoice .h5p-selected.h5p-wrong .h5p-radio-or-checkbox {
    color: #c33f62;
}

.feedback-text {
    position: relative;
    float: left;
    top: -10%;
    left: 50%;
    color: #000;
    min-height: 35%;
    font-weight: normal;
    width: 30%;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    /* height: 100%; */
    /* top: 0; */
    /* width: 100%; */
    /* float: left; */
    /* background-size: 100% 100%; */
    /* margin: 0; */
    /* padding: 0; */
    /* font-weight: bold; */
    /* font-size: 1.25em; */
    /* line-height: 2em; */
    /* color: #599413; */
    /* background-image: url('bg.jpg'); */
    background: url('quote.jpg') no-repeat;
    /* width: 335px; */
    background-size: 15% 20%;
    /* min-height: 40px; */
    /* position: absolute; */
    padding: 0% 0 0 2%;
}

.feedback-text.h5p-failed {
    color: #c33f62;
}

.feedback-text.h5p-almost {
    color: #666;
}

.feedback-text.h5p-passed {
    color: #39692e;
}

.h5p-multichoice > .h5p-failed {
    color: #c33f62;
}
.h5p-multichoice > .h5p-almost {
    color: #d59c42;
}
.h5p-span div,
.h5p-span p {
    display: inline;
}

.h5p-clearfix {
    clear: both;
}

.h5p-multichoice .h5p-input-container {
    display: block;
    float: left;
    width: 2em;
}

.h5p-multichoice .h5p-alternative-container {
    margin-left: 5px;
    margin-right: 0em;
}

.h5p-multichoice .h5p-radio-or-checkbox {
    border: medium none;
    display: block;
    height: 1em;
    margin: auto;
    width: 1em;
    text-decoration: none;
    font-family: icomoon-multichoice;
    color: #494949;
    pointer-events: none;
}

.h5p-multichoice .h5p-selected .h5p-radio-or-checkbox {
    color: #235e7c;
}

.h5p-question p:last-child {
    margin-bottom: 0;
}

.h5p-question p:first-child {
    margin-top: 0;
}

.h5p-multichoice .h5p-feedback-button {
    position: absolute;
    cursor: pointer;
    right: 2.25em;
    top: 0.5em;
    line-height: 1em;
}
.h5p-multichoice .h5p-feedback-button:focus {
    outline: none;
}
.h5p-multichoice .h5p-feedback-button:before {
    font-family: H5PFontAwesome;
    content: "\f075";
    color: #fbfbfb;
    text-shadow: 0 0 0.25em #2c2c2c;
}
.h5p-multichoice .h5p-feedback-button:hover:before {
    color: #e1e1e1;
}

.h5p-multichoice .h5p-feedback-dialog {
    position: absolute;
    top: 100%;
    margin-top: 0.25em;
    width: 96%;
    left: 2%;
    z-index: 1;
}
.h5p-multichoice .h5p-feedback-inner {
    background: #fbfbfb;
    box-shadow: 0 0 1em #2c2c2c;
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
    text-align: left;
    position: relative;
}
.h5p-multichoice .h5p-feedback-inner:before,
.h5p-multichoice .h5p-feedback-dialog:before {
    content: "";
    position: absolute;
    right: 1.25em;
    top: -0.75em;
    width: 1.5em;
    height: 1.5em;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.h5p-multichoice .h5p-feedback-dialog:before {
    box-shadow: 0 0 1em #2c2c2c;
}
.h5p-multichoice .h5p-feedback-text {
    position: relative;
    z-index: 3;
    max-height: 6.5em;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.h5p-multichoice .h5p-answer:last-child .h5p-feedback-text {
    max-height: 4em;
}
.h5p-multichoice .h5p-feedback-text::-webkit-scrollbar {
    width: 0.4em;
}
.h5p-multichoice .h5p-feedback-text::-webkit-scrollbar-thumb {
    border-radius: 0.2em;
    background: #aaa;
}
.h5p-multichoice .joubel-tip-container{
    position: absolute;
    right: 0;
    top: 0;
}

.speech_bubble{
    width: 83%;
    float: right;
    padding: 3% 0% 3% 0%;
    margin-top: 1%;
    font-size: 75%;
    min-height: 30%;
    line-height: 15px;
    background-image: url('speech-buuble.jpg');
    background-size: 100% 100%;
}
.solution_feedback{
    font-size: 100% !important;
    line-height: 160% !important;
    width: 47%;
    overflow: hidden;
    height: 40%;
    margin: 1%;
    position: relative;
    font-weight: normal;
    text-align: left;
    color: #333333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
.speech_bubble div{
    width: 80%;
    float: right;
    font-size: 135% !important;
    line-height: 150% !important;
    font-weight:bold;}
.speech_bubble p{
    width: 80%;
    float: right;
    font-size: 14px !important;
    line-height: 22px !important;font-weight:bold;
}

.medical-chart-icon{
    /*border:1px solid red;*/
    width: 3%;
    height: 44px;
    background-image: url('medical-chart.png');
    background-size: 100% 100%;
    float: left;
    margin: 0px 0em 4px 0px;
}

.h5p-copyinfo-header {
    font-size: 1.2em;
    color: #555;
    font-weight: bold;
    margin-bottom: 0.4em;
}

.h5p-popup-overlay {
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 200;
    margin: -10px 0 0 -10px;
    padding: 10px;
}

.h5p-popup-container {
    background-color: #fff;
    border: 0.083em solid #bebebe;
    box-shadow: 0 0 0.25em #bebebe;
    left: 15%;
    position: absolute;
    top: 10%;
    width: 70%;
    height: 70%;
    font-size: 0.9em;
}

.h5p-popup-wrapper {
    box-sizing: border-box;
    padding: 1em;
    max-height: 100%;
    overflow: auto;
    text-align: left;
}
.h5p-close-popup {
    text-decoration: none;
    float: right;
    cursor: pointer;
}

.h5p-close-popup:before {
    position: absolute;
    right: 24px;
    top: 10px;
    font-family: H5PFontAwesome;
    content: "\f00d";
    font-size: 2em;
}

.h5p-close-popup:hover:before {
    color: #555;
}
.popup-next-button{

}
.popup-close-button{
    display: inline-block;
    font-size: 1em;
    padding: 0.2em 1em;
    /* border: 0.2em solid #fff; */
    /* border-radius: 0.4em; */
    margin: 1em 0.5em 1em;
    cursor: pointer;
    color: #fff;
    opacity: 0.45;
    /* box-shadow: 0 0 0.5em #999; */
    text-decoration: none;
    background: #8B8787;
    float: right;
}

@media screen and ( max-width: 980px ) {
    .solution_feedback {
        font-size: 11px !important;
        line-height: 15px !important;
        width: 47%;
        overflow: hidden;
        height: 40%;
        margin: 1%;
        position: relative;
        font-weight: normal;
        text-align: left;
        color: #333333;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }
    .h5p-multichoice .h5p-answer {
        list-style: none;
        margin: 5px 10px 0px 0px;
        padding: 0;
        background: none;
        position: relative;
        width: 45%;
        float: left;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 11px !important;
        line-height: 15px !important;
    }
    .feedback-text {
        position: absolute;
        float: right;
        top: 45%;
        min-height:35%;
        right: 15%;
        color: #000;
        font-weight: normal;
        width: 30%;
        font-size: 11px;
        line-height: 15px;
        /* height: 100%; */
        /* top: 0; */
        /* width: 100%; */
        /* float: left; */
        /* background-size: 100% 100%; */
        /* margin: 0; */
        /* padding: 0; */
        /* font-weight: bold; */
        /* font-size: 1.25em; */
        /* line-height: 2em; */
        /* color: #599413; */
        /* background-image: url('bg.jpg'); */
        background: url('quote.jpg') no-repeat;
        /* width: 335px; */
        background-size: 15% 20%;
        /* min-height: 40px; */
        /* position: absolute; */
        padding: 2% 0 0 2%;
    }
    .h5p-multichoice > .h5p-question > p{
        width: 33%;
        float: right;
        position: absolute;
        min-height: 8%;
        top: 25%;
        left: 15%;
        font-size: 11px !important;
        line-height: 15px !important;
        position: absolute;
        /* float: left; */
        /* left: 50%; */
        color: #000;
        font-weight: normal;
        /* width: 30%; */
        font-size: 55%;
        /* text-align: justify; */
        line-height: 135%;
        /* height: 100%; */
        /* top: 0; */
        /* width: 100%; */
        /* float: left; */
        /* background-size: 100% 100%; */
        /* margin: 0; */
        /* padding: 0; */
        /* font-weight: bold; */
        /* font-size: 1.25em; */
        /* line-height: 2em; */
        /* color: #599413; */
        /* background-image: url('bg.jpg'); */
        background: url('quote1.jpg') no-repeat;
        /* width: 335px; */
        background-size: 15% 40%;
        /* min-height: 40px; */
        /* position: absolute; */
        padding: 2% 0 0 2%;

    }
    .speech_bubble p{
        width: 80%;
        float: right;
        font-size: 11px !important;
        line-height: 15px !important;font-weight:bold;
    }
}

@media screen and ( max-width: 760px ) {
    .solution_feedback {
        font-size: 9px !important;
        line-height: 13px !important;
        width: 47%;
        overflow: hidden;
        height: 40%;
        margin: 1%;
        position: relative;
        font-weight: normal;
        text-align: left;
        color: #333333;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }
    .h5p-multichoice .h5p-answer {
        list-style: none;
        margin: 5px 10px 0px 0px;
        padding: 0;
        background: none;
        position: relative;
        width: 45%;
        float: left;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 9px !important;
        line-height: 13px !important;
    }
    .feedback-text {
        position: relative;
        float: left;
        top: -15%;
        min-height:35%;
        left: 50%;
        color: #000;
        font-weight: normal;
        width: 30%;
        font-size: 9px;
        line-height: 13px;
        /* height: 100%; */
        /* top: 0; */
        /* width: 100%; */
        /* float: left; */
        /* background-size: 100% 100%; */
        /* margin: 0; */
        /* padding: 0; */
        /* font-weight: bold; */
        /* font-size: 1.25em; */
        /* line-height: 2em; */
        /* color: #599413; */
        /* background-image: url('bg.jpg'); */
        background: url('quote.jpg') no-repeat;
        /* width: 335px; */
        background-size: 15% 20%;
        /* min-height: 40px; */
        /* position: absolute; */
        padding: 2% 0 0 2%;
    }
    .h5p-multichoice > .h5p-question > p{
        width: 33%;
        float: right;
        position: absolute;
        min-height: 8%;
        top: 25%;
        left: 15%;
        font-size: 9px !important;
        line-height: 13px !important;
        position: absolute;
        /* float: left; */
        /* left: 50%; */
        color: #000;
        font-weight: normal;
        /* width: 30%; */
        font-size: 55%;
        /* text-align: justify; */
        line-height: 135%;
        /* height: 100%; */
        /* top: 0; */
        /* width: 100%; */
        /* float: left; */
        /* background-size: 100% 100%; */
        /* margin: 0; */
        /* padding: 0; */
        /* font-weight: bold; */
        /* font-size: 1.25em; */
        /* line-height: 2em; */
        /* color: #599413; */
        /* background-image: url('bg.jpg'); */
        background: url('quote1.jpg') no-repeat;
        /* width: 335px; */
        background-size: 15% 40%;
        /* min-height: 40px; */
        /* position: absolute; */
        padding: 2% 0 0 2%;

    }
    .speech_bubble p{
        width: 80%;
        float: right;
        font-size: 9px !important;
        line-height: 13px !important;font-weight:bold;
    }
}

@media screen and ( max-width: 540px ) {
    .solution_feedback {
        font-size: 7px !important;
        line-height: 11px !important;
        width: 47%;
        overflow: hidden;
        height: 40%;
        margin: 1%;
        position: relative;
        font-weight: normal;
        text-align: left;
        color: #333333;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    }
    .h5p-multichoice .h5p-answer {
        list-style: none;
        margin: 5px 10px 0px 0px;
        padding: 0;
        background: none;
        position: relative;
        width: 45%;
        float: left;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        font-size: 7px !important;
        line-height: 11px !important;
    }
    .feedback-text {
        position: relative;
        float: left;
        top: -15%;
        min-height:35%;
        left: 50%;
        color: #000;
        font-weight: normal;
        width: 30%;
        font-size: 7px !important;
        line-height: 11px !important;
        /* height: 100%; */
        /* top: 0; */
        /* width: 100%; */
        /* float: left; */
        /* background-size: 100% 100%; */
        /* margin: 0; */
        /* padding: 0; */
        /* font-weight: bold; */
        /* font-size: 1.25em; */
        /* line-height: 2em; */
        /* color: #599413; */
        /* background-image: url('bg.jpg'); */
        background: url('quote.jpg') no-repeat;
        /* width: 335px; */
        background-size: 15% 20%;
        /* min-height: 40px; */
        /* position: absolute; */
        padding: 0% 0 0 2%;
    }
    .h5p-multichoice > .h5p-question > p{
        width: 33%;
        float: right;
        position: absolute;
        min-height: 8%;
        top: 25%;
        left: 15%;
        font-size: 7px !important;
        line-height: 11px !important;
        position: absolute;
        /* float: left; */
        /* left: 50%; */
        color: #000;
        font-weight: normal;
        /* width: 30%; */
        font-size: 55%;
        /* text-align: justify; */
        line-height: 135%;
        /* height: 100%; */
        /* top: 0; */
        /* width: 100%; */
        /* float: left; */
        /* background-size: 100% 100%; */
        /* margin: 0; */
        /* padding: 0; */
        /* font-weight: bold; */
        /* font-size: 1.25em; */
        /* line-height: 2em; */
        /* color: #599413; */
        /* background-image: url('bg.jpg'); */
        background: url('quote1.jpg') no-repeat;
        /* width: 335px; */
        background-size: 15% 40%;
        /* min-height: 40px; */
        /* position: absolute; */
        padding: 2% 0 0 2%;

    }
    .speech_bubble p{
        width: 80%;
        float: right;
        font-size: 7px !important;
        line-height: 11px !important;font-weight:bold;
    }

}

/*////////////////////////////////////////////////////////////////////*/

.h5p-question-top {
    margin: 5px;
    /*height:50%;*/
    border-bottom:1px solid #ddd;
    float:left;
    width: 99%;
    padding-bottom: 1%;
}

.h5p-multichoice > .h5p-question-top > .h5p-question {
    text-align: left;
    margin: 0 0em 0em;
    /* border-bottom: 0.1em solid #ddd; */
    width: 47%;
    min-height: 225px;
    float: left;
    background-image: url('patient.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 30% 90%;
}
.h5p-multichoice > .h5p-question-top > .h5p-question > p{
    padding-top: 10px;
    width: 33%;
    float: left;
    position: relative;
    min-height: 8%;
    top: 10px;
    left: 30%;
    font-size: 14px !important;
    color: #000;
    font-weight: normal;
    font-size: 55%;
    line-height: 135%;
    background: url('quote1.jpg') no-repeat;
    background-size: 15% 40%;
    padding: 2% 0 0 2%;
}
.quotel-frame {
    top: 10px;
    left: 30%;
    padding-top: 10px;
    width: 65%;
    float: left;
    position: relative;
}
.h5p-multichoice > .h5p-question-top > .h5p-question > p div{
    padding-top: 12px;
}
.h5p-multichoice > .h5p-question-top > .h5p-question-top-right {
    width:50%;
    float:right;
    height: 100%;
}
.h5p-multichoice > .h5p-question-top > .h5p-question-top-right > .h5p-answers{
    width:100%;
    height: 100%;
    margin: 0;
}
.h5p-multichoice .h5p-answer > label {
    margin-right: 8px;
    margin-top: 8px;
    border-radius:0;
    background: #ffffff;
}
.h5p-multichoice .h5p-input-container {
    display: none !important;
}
.h5p-multichoice .h5p-selected > label {
    color: #ffffff !important;
    background: #54beeb;
}
.correct{
    background-color: #39692E !important;
}
.speech_bubble div {
    margin-right: 5px;
}
.medical-chart-icon {
    width:35px;
    height:35px;
}
/*.h5p-multichoice .h5p-show-solution-container {*/
/*background: #ededed !important;*/
/*height: 100% !important;*/
/*}*/
.quotel {
    background: url('quote2.png') no-repeat;
    background-size: 15% 100%;
    height: 33px;
}
.h5p-course-presentation .h5p-progressbar {
    background: url('new-progressbar.png') no-repeat;
    background-size: 100% 40%;
    background-position: center;
}
.h5p-show-solution-container-heading {
    width: 47%;
    text-align: left;
    font-size: 20px !important;
    font-weight: bold;
    color:#000000;
    margin-left: 15px;
    padding-bottom: 10px;
}
.h5p-course-presentation .h5p-element {
    overflow-y: auto !important;
    -webkit-overflow-scrolling : touch;
}
.solution_feedback{
    width:100% ! important;
    padding-bottom: 15px;
}
.feedback-text {
    position:relative !important;
    top:0 !important;
    left:0 !important;
    width:100% !important;
    background: none !important;
}
.h5p-multichoice .h5p-show-solution-container {
    margin-left: 6px;
    margin-right: 0px;
}
.h5p-show-solution-container-image {
    width: 10%;
    height: 100%;
    float: right;
    background: url('doctor.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.feedback-text-frame {
    top: 50%;
    position: absolute;
    float: left;
    color: #000;
    min-height: 35%;
    font-weight: normal;
    width: 30%;
    font-size: 14px;
    text-align: justify;
    line-height: 22px;
    padding: 0% 0px 0px 2%;
    left: 50%;
}

/*custom*/
.layout{
    margin: 5px;
    overflow-y:auto;
    border:1px solid red;
}
.layout .medical-chart{
    height:44px;
    width:100%;
}
.disable-action{
    background:#d3d3d3 !important;
}
.patient-name-frame h1{
    margin: 0 !important;
}
.patient-name-frame h1 p {
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 20px !important;
}
.patient-age-frame h3, .patient-relationship-frame h3 {
    line-height: 20px !important;
}
.h5p-course-presentation .h5p-progressbar .h5p-completed {
    height: 15px !important;
    width: 15px !important;
    margin-top: 2px;
    border-radius: 22px !important;
    background: #0097fd !important;
}